<div class="main">
  <div class="container">
    <div class="row-scroll">
      <div class="col-sm-5 col-sm-offset-1 mb-sm-40">
        <h4 class="font-alt">Booking Form</h4>
        <hr class="divider-w mb-10">     
        <%= form_for @booking, as: :booking, url: sitter_bookings_path(params[:sitter_id]), class: "form" do |form| %>

            <div>
            <% if @booking.errors.any? %>
                <div class="alert alert-danger" role="alert"> 
                    <button class="close" type="button" data-dismiss="alert" aria-hidden="true">x</button>
                    <% @booking.errors.full_messages.each do |error| %>
                        <div>
                            <i class="fa fa-cog fa-spin"></i>
                            <strong>Alert!</strong>
                            <%= error %>
                        </div>
                    <% end %>
                </div>
            <% end %>
            </div>

        <% if current_user %>
            <div class="form-group">
                <%= form.label :name %>
                <%= form.text_field :name , :value => "#{@user.first_name} #{@user.last_name}", class: 'form-control' %>
            </div>

            <div class="form-group">
                <%= form.label :email %>
                <%= form.text_field :email, :value => "#{@user.email}", class: 'form-control'%>
            </div>

            <div class="form-group">
                <%= form.label :dog_name %>
                <%= form.text_field :dog_name, class: 'form-control'%>
            </div>

            <div class="form-group">
                <%= form.label :dog_breed %>
                <%= form.text_field :dog_breed, class: 'form-control'%>
            </div>

            <div class="form-group">
                <%= form.label :dog_size %>
                <%= form.select :dog_size, ["Small (0 - 15lbs)", "Medium (16 - 40lbs)", "Large (41 - 100lbs)", "Giant (101+lbs)"], {}, class: 'form-control'%>
            </div>

            <div class="form-group">
                <%= form.label :dog_age %>
                <%= form.text_field :dog_age, class: 'form-control'%>
            </div>

            <div class="form-group" >
                <%= form.label :dog_gender %>
                <br>
                <%= form.select :dog_gender, ["Male", "Female"], {}, class: 'form-control' %>
            </div>

            <div class="form-group">
                <%= form.label :info %>
                <%= form.text_area :info, class: 'form-control', placeholder: 'Optional'%>
            </div>
					
            <div class="form-group">
                <%= form.submit 'Submit', class: 'btn btn-block btn-round btn-b' %>
            </div>
            <br>
            <br>
            <br>
            
        <% else %>

            <br> 
            <h5 class="font-alt">Please login or register first</h5> 
            <br>

            <div class="col-sm-5 col-sm-offset-1 mb-sm-40">
                <%= link_to '<button class="btn btn-g btn-round btn-block" type="button">Login</button>'.html_safe, new_session_path %> 
                <br>
                <%= link_to '<button class="btn btn-g btn-round btn-block" type="button">Sign Up</button>'.html_safe, new_user_path %>
            </div>

        <% end %>

        <% end %>

      </div>
    </div>
  </div>
</div>