<div class="main">
  <div class="container">
    <div class="row-scroll">
			<div class="col-sm-9 col-sm-offset-1 mb-sm-40">
				<h4 class="font-alt mb-0">My Booking Status</h4>
				<hr class="divider-w mt-10 mb-20">
				<% if !(@bookings.empty?) %> 
				<div role="tabpanel">

					<ul class="nav nav-tabs font-alt" role="tablist">
						<li class="active">
							<a href="#s-pending" data-toggle="tab" aria-expanded="true">Pending Bookings</a>
						</li>
						<li class="">
							<a href="#s-accepted" data-toggle="tab" aria-expanded="false">Accepted Bookings</a>
						</li>
						<li class="">
							<a href="#s-completed" data-toggle="tab" aria-expanded="true">Completed Bookings</a>
						</li>
						<li class="">
							<a href="#s-incomplete" data-toggle="tab" aria-expanded="true">Incomplete Bookings</a>
						</li>
					</ul>
					
					<div class="tab-content">

						<div class="sitter-pending tab-pane active" id="s-pending">							
							<% @bookings.each do |booking| %>
								<% if booking.status == 'Pending' %>
								
								<% @owner = User.find_by(id: booking.user_id) %>
								<p><%= "#{@owner.first_name} #{@owner.last_name}" %></p>   

								<p><%= booking.dog_name %></p>
								<p><%= booking.created_at %></p>          
								<p><%= booking.status %></p>

								<%= link_to sitter_booking_path(params[:sitter_id], booking.id) do %>
								Details
								<% end %>

								<%= link_to "Accept", sitter_booking_accept_path(params[:sitter_id], booking.id), method: :patch %>
								<%= link_to "Reject", sitter_booking_reject_path(params[:sitter_id], booking.id), method: :patch %>
								<% end %>
							<% end %>
						</div>

						<div class="sitter-accept tab-pane" id="s-accepted">
							<% @bookings.each do |booking| %>
								<% if booking.status == 'Accepted' %>

								<% @owner = User.find_by(id: booking.user_id) %>
								<p><%= "#{@owner.first_name} #{@owner.last_name}" %></p>

								<p><%= booking.dog_name %></p>
								<p><%= booking.created_at %></p>          
								<p><%= booking.status %></p>

								<%= link_to sitter_booking_path(params[:sitter_id], booking.id) do %>
								Details
								<% end %>

								<%= link_to "Complete", sitter_booking_complete_path(params[:sitter_id], booking.id), method: :patch %>
								<%= link_to "Incomplete", sitter_booking_incomplete_path(params[:sitter_id], booking.id), method: :patch %>
								<% end %>
							<% end %>
						</div>

						<div class="sitter-complete tab-pane" id="s-completed">
							<% @bookings.each do |booking| %>
								<% if booking.status == 'Completed' %>

								<% @owner = User.find_by(id: booking.user_id) %>
								<p><%= "#{@owner.first_name} #{@owner.last_name}" %></p>   

								<p><%= booking.dog_name %></p>
								<p><%= booking.created_at %></p>          
								<p><%= booking.status %></p>

									<%= link_to sitter_booking_path(params[:sitter_id], booking.id) do %>
									Details
									<% end %>
								<% end %>
							<% end %>
						</div>

						<div class="sitter-incomplete tab-pane" id="s-incomplete">
							<% @bookings.each do |booking| %>
								<% if booking.status == 'Incomplete' || booking.status == 'Rejected' %>  

								<% @owner = User.find_by(id: booking.user_id) %>          
								<p><%= "#{@owner.first_name} #{@owner.last_name}" %></p>    

								<p><%= booking.dog_name %></p>
								<p><%= booking.created_at %></p>          
								<p><%= booking.status %></p>

									<%= link_to sitter_booking_path(params[:sitter_id], booking.id) do %>
									Details
									<% end %>
								<% end %>
							<% end %>
						</div>

					</div>

				</div>

				<% else %>
					<div class="alert alert-danger" role="alert">
					Currently, there is no booking.
					</div>
				<% end %>

			</div>
		</div>
	</div>
</div>