<div class="main">
  <div class="container">
    <div class="row-scroll">
			<div class="col-sm-9 col-sm-offset-1 mb-sm-40">
				<h4 class="font-alt mb-0">My Booking Status</h4>
				<hr class="divider-w mt-10 mb-20">
				<% if !(@bookings.empty?) %> 
				<div role="tabpanel">

					<ul class="nav nav-tabs font-alt" role="tablist">
						<li class="active">
							<a href="#pending" data-toggle="tab" aria-expanded="true"><span class="icon-tools-2"></span>Pending Bookings</a>
						</li>
						<li class="">
							<a href="#accepted" data-toggle="tab" aria-expanded="false"><span class="icon-tools-2"></span>Accepted Bookings</a>
						</li>
						<li class="active">
							<a href="#completed" data-toggle="tab" aria-expanded="true"><span class="icon-tools-2"></span>Completed Bookings</a>
						</li>
						<li class="active">
							<a href="#incomplete" data-toggle="tab" aria-expanded="true"><span class="icon-tools-2"></span>Incomplete Bookings</a>
						</li>
					</ul>
					
					<div class="tab-content">

						<div class="user-pending tab-pane active" id="pending">							
							<% @bookings.each do |booking| %>
								<% if booking.status == 'Pending' %>
								
								<% @sitter_of_booking = Sitter.find_by(id: booking.sitter_id) %>
								<p><%= @sitter_of_booking.name %></p>   

								<p><%= booking.dog_name %></p>
								<p><%= booking.created_at %></p>          
								<p><%= booking.status %></p>

								<%= link_to user_bookings_show_path(params[:user_id], booking.id) do %>
								Details
								<% end %>

								<% end %>
							<% end %>
						</div>

						<div class="user-accept tab-pane" id="accepted">
							<% @bookings.each do |booking| %>
								<% if booking.status == 'Accepted' %>

								<% @sitter_of_booking = Sitter.find_by(id: booking.sitter_id) %>
								<p><%= @sitter_of_booking.name %></p>   

								<p><%= booking.dog_name %></p>
								<p><%= booking.created_at %></p>          
								<p><%= booking.status %></p>

								<%= link_to user_bookings_show_path(params[:user_id], booking.id) do %>
								Details
								<% end %>

								<% end %>
							<% end %>
						</div>

						<div class="user-complete tab-pane" id="completed">
							<% @bookings.each do |booking| %>
								<% if booking.status == 'Completed' %>

								<% @sitter_of_booking = Sitter.find_by(id: booking.sitter_id) %>
								<p><%= @sitter_of_booking.name %></p>     

								<p><%= booking.dog_name %></p>
								<p><%= booking.created_at %></p>          
								<p><%= booking.status %></p>

								<%= link_to user_bookings_show_path(params[:user_id], booking.id) do %>
								Details
								<% end %>

								<% end %>
							<% end %>
						</div>

						<div class="tab-pane" id="incomplete">
							<% @bookings.each do |booking| %>
								<% if booking.status == 'Incomplete' || booking.status == 'Rejected' %>  

								<% @sitter_of_booking = Sitter.find_by(id: booking.sitter_id) %>
								<p><%= @sitter_of_booking.name %></p>       

								<p><%= booking.dog_name %></p>
								<p><%= booking.created_at %></p>          
								<p><%= booking.status %></p>

								<%= link_to user_bookings_show_path(params[:user_id], booking.id) do %>
								Details
								<% end %>

								<% end %>
							<% end %>
						</div>

					</div>



				</div>

				<% else %>
					<div class="alert alert-danger" role="alert">
					Currently, there is no booking
					</div>
				<% end %>

			</div>
		</div>
	</div>
</div>