<div class="main">
  <div class="container">
    <div class="row">
      
        <div class="user-pending">
        <h5 class="font-alt">Pending Tab</h5>
        <hr class="divider-w mb-10">
        
        <% @bookings.each do |booking| %>
          <% if booking.status == 'Pending' %>
          
          <% @sitter_of_booking = Sitter.find_by(id: booking.sitter_id) %>
          <p><%= @sitter_of_booking.name %></p>   

          <p><%= booking.dog_name %></p>
          <p><%= booking.created_at %></p>          
          <p><%= booking.status %></p>

          <%= link_to user_bookings_show_path(params[:user_id], booking.id) do %>
          Details
          <% end %>

          <% end %>
        <% end %>
      </div>

      <div class="user-accept">
        <h5 class="font-alt">Accepted Tab</h5>
        <hr class="divider-w mb-10">
        
        <% @bookings.each do |booking| %>
          <% if booking.status == 'Accepted' %>

          <% @sitter_of_booking = Sitter.find_by(id: booking.sitter_id) %>
          <p><%= @sitter_of_booking.name %></p>   

          <p><%= booking.dog_name %></p>
          <p><%= booking.created_at %></p>          
          <p><%= booking.status %></p>

          <%= link_to user_bookings_show_path(params[:user_id], booking.id) do %>
          Details
          <% end %>

          <% end %>
        <% end %>
      </div>

      <div class="user-complete">
        <h5 class="font-alt">Completed Tab</h5>
        <hr class="divider-w mb-10">
        
        <% @bookings.each do |booking| %>
          <% if booking.status == 'Completed' %>

          <% @sitter_of_booking = Sitter.find_by(id: booking.sitter_id) %>
          <p><%= @sitter_of_booking.name %></p>     

          <p><%= booking.dog_name %></p>
          <p><%= booking.created_at %></p>          
          <p><%= booking.status %></p>

          <%= link_to user_bookings_show_path(params[:user_id], booking.id) do %>
          Details
          <% end %>

          <% end %>
        <% end %>
      </div>

      <div class="user-incomplete">
        <h5 class="font-alt">Incomplete Tab</h5>
        <hr class="divider-w mb-10">
        
        <% @bookings.each do |booking| %>
          <% if booking.status == 'Incomplete' || booking.status == 'Rejected' %>  

          <% @sitter_of_booking = Sitter.find_by(id: booking.sitter_id) %>
          <p><%= @sitter_of_booking.name %></p>       

          <p><%= booking.dog_name %></p>
          <p><%= booking.created_at %></p>          
          <p><%= booking.status %></p>

          <%= link_to user_bookings_show_path(params[:user_id], booking.id) do %>
          Details
          <% end %>

          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>