<div class="main">
  <div class="container">
    <div class="row-scroll">

      <div class="user-booking-details">
        <h4 class="font-alt">Booking Details Page</h4>
          <hr class="divider-w mb-10">
          <hr class="divider-w mb-10">

        <h5 class="font-alt mb-0" style="font-weight:bold">Sitter:</h5>
        <%= image_tag(@sitter_user.avatar.medium.url, class:"sitter-avatar")%>
        <p class="font-alt"><%= @sitter.name %></p>
        <h5 class="font-alt" style="font-weight:bold">Dog Name:</h5>
        <p class="font-alt"><%= @booking.dog_name %></p> 
        <h5 class="font-alt" style="font-weight:bold">Dog Breed:</h5>
        <p class="font-alt"><%= @booking.dog_breed %></p>
        <h5 class="font-alt" style="font-weight:bold">Dog Size:</h5>
        <p class="font-alt"><%= @booking.dog_size %></p>
        <h5 class="font-alt" style="font-weight:bold">Dog Age:</h5>
        <p class="font-alt"><%= @booking.dog_age %></p>
        <h5 class="font-alt" style="font-weight:bold">Dog Gender:</h5>
        <p class="font-alt"><%= @booking.dog_gender %></p>  
        <h5 class="font-alt" style="font-weight:bold">Other Info:</h5>
        <p class="font-alt"><%= @booking.info %></p>
        <h5 class="font-alt" style="font-weight:bold">Booking Status:</h5>
        <p class="font-alt"><%= @booking.status %></p>    
        <h5 class="font-alt" style="font-weight:bold">Booking Dates:</h5>
        <% @booking_dates.each do |date|  %>
          <p class="font-alt"><%= date.date %></p>
        <% end %>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>