<div class="main">
  <div class="container">
    <div class="row-scroll">
			<div class="col-sm-9 col-sm-offset-1 mb-sm-40">
				<h4 class="font-alt mb-0">My Booking Status</h4>
				<hr class="divider-w mt-10 mb-20">
				<% if !(@bookings.empty?) %> 
				<div role="tabpanel">

					<ul class="nav nav-tabs font-alt" role="tablist">
						<li class="active">
							<a href="#u-pending" data-toggle="tab" aria-expanded="true">Pending</a>
						</li>
						<li class="">
							<a href="#u-accepted" data-toggle="tab" aria-expanded="false">Accepted</a>
						</li>
						<li class="">
							<a href="#u-completed" data-toggle="tab" aria-expanded="true">Completed</a>
						</li>
						<li class="">
							<a href="#u-incomplete" data-toggle="tab" aria-expanded="true">Incomplete</a>
						</li>
					</ul>
					
					<div class="tab-content">

						<div class="user-pending tab-pane active" id="u-pending">							
							<% @bookings.each do |booking| %>
								<% if booking.status == 'Pending' %>
								<div class="card">
								<% @sitter_of_booking = Sitter.find_by(id: booking.sitter_id) %>
									<div class="card-header font-alt">
									Sitter Name: <%= @sitter_of_booking.name %>   
									</div>
									<br>
									<div class="card-body ">
									
										<h5 class="font-alt">Dog Name:</h5> 
										<p class="font-alt-regular"><%= booking.dog_name %></p>
										<h5 class="font-alt">Sent at:</h5>  
										<p class="font-alt-regular"><%= booking.created_at.strftime("%Y-%m-%d at %I:%M%p") %> </p>
										<br>
										<%= link_to '<button class="btn btn-g btn-circle" type="button">Booking Details</button>'.html_safe, user_bookings_show_path(params[:user_id], booking.id) %>
									</div>
								</div>
								<br>
								<% end %>
							<% end %>
						</div>

						<div class="user-accept tab-pane" id="u-accepted">
							<% @bookings.each do |booking| %>
								<% if booking.status == 'Accepted' %>
								<div class="card font-alt">
								<% @sitter_of_booking = Sitter.find_by(id: booking.sitter_id) %>
									
									<div class="card-header">
									Sitter Name: <%= @sitter_of_booking.name %>
									</div>
									<br>
									<div class="card-body">
										<h5>Dog Name: <%= booking.dog_name %></h5>
										<h5>Accepted at: <%= booking.updated_at.strftime("%Y-%m-%d at %I:%M%p") %></h5>          
										<br>
										<%= link_to '<button class="btn btn-g btn-circle" type="button">Booking Details</button>'.html_safe, user_bookings_show_path(params[:user_id], booking.id) %>
									</div>
								</div>
								<br>
								<% end %>
							<% end %>
						</div>

						<div class="user-complete tab-pane" id="u-completed">
							<% @bookings.each do |booking| %>
								<% if booking.status == 'Completed' %>
								<div class="card font-alt">
								<% @sitter_of_booking = Sitter.find_by(id: booking.sitter_id) %>
									<div class="card-header">
										Sitter Name: <%= @sitter_of_booking.name %></p>     
									</div>
									<br>
									<div class="card-body">
										<h5>Dog Name: <%= booking.dog_name %></h5>
										<h5>Completed at: <%= booking.updated_at.strftime("%Y-%m-%d at %I:%M%p") %></h5>          
										<br>
										<%= link_to '<button class="btn btn-g btn-circle" type="button">Booking Details</button>'.html_safe, user_bookings_show_path(params[:user_id], booking.id) %>
									</div>
								ß</div>
								<br>
								<% end %>
							<% end %>
						</div>

						<div class="user-incomplete tab-pane" id="u-incomplete">
							<% @bookings.each do |booking| %>
								<% if booking.status == 'Incomplete' || booking.status == 'Rejected' %>  
									<% @sitter_of_booking = Sitter.find_by(id: booking.sitter_id) %>
								<div class="card font-alt">
									<div class="card-header">
										Sitter Name: <%= @sitter_of_booking.name %>      
									</div>
									<br>
									<div class="card-body">
										<h5>Dog Name: <%= booking.dog_name %></h5>
										<h5>In Incomplete Since: <%= booking.updated_at.strftime("%Y-%m-%d at %I:%M%p") %></h5>          
										<br>
										<%= link_to '<button class="btn btn-g btn-circle" type="button">Booking Details</button>'.html_safe, user_bookings_show_path(params[:user_id], booking.id) %>
									</div>
								</div>
								<br>
								<% end %>
							<% end %>
						</div>
					</div>

				</div>

				<% else %>
					<div class="alert alert-danger" role="alert">
					Currently, there is no booking
					</div>
				<% end %>

                <br>
                <br>
                <br>
                
			</div>
		</div>
	</div>
</div>