<div class="main">
	<div class="container">
		<div class="row-scroll">
            <div class="col-sm-5 col-sm-offset-1 mb-sm-40">
                <h4 class="font-alt">Register</h4>
                <hr class="divider-w mb-10">
                
                <%= form_for :user, url: '/users', class: "form" do |form| %>

                <div>
                <% if @user.errors.any? %>
                    <div class="alert alert-danger" role="alert"> 
                        <button class="close" type="button" data-dismiss="alert" aria-hidden="true">x</button>
                        <% @user.errors.full_messages.each do |error| %>
                            <div>
                                <i class="fa fa-cog fa-spin"></i>
                                <strong>Alert!</strong>
                                <%= error %>
                            </div>
                        <% end %>
                    </div>
                <% end %>
                </div>
                
                <div class="form-group">
                    <%= form.label :fist_name %>
                    <%= form.text_field :first_name, class: 'form-control' %>
                </div>

                <div class="form-group">
                    <%= form.label :last_name %>
                    <%= form.text_field :last_name, class: 'form-control' %>
                </div>

                <div class="form-group">
                    <%= form.label :email %>
                    <%= form.text_field :email, class: 'form-control' %>
                </div>
            
                <div class="form-group">
                    <%= form.label :password %>
                    <%= form.password_field :password, class: 'form-control' %>
                </div>
            
                <div class="form-group">
                    <%= form.label :password_confirmation %>
                    <%= form.password_field :password_confirmation, class: 'form-control' %>
                </div>

                <div class="form-group">
                    <%= form.label :avatar %>
                    <%= form.text_field :avatar, class: 'form-control' %>
                </div>

                <div class="form-group">
                    <%= form.submit 'Register', class: 'btn btn-block btn-round btn-b' %>
                </div>
                <br>
                <br>
                <br>

                <% end %>
            </div>
		</div>
	</div>
</div>

