<article class="sitter">
   #if the distance is the closed to the user's location
  
  <header> 
  <%= link_to sitter do %>
    <h4> <%= sitter.name %></h4>
      <%  @user = User.find_by(id: sitter.user_id) %>
      <%= image_tag @user.avatar %>


    <% end  %>
    </header>
    <p class="description">
    <%= sitter.summary %>
    </p>
    <footer class="actions">
    <h4> <%= sitter.price %>/hr <h4>
    <%= link_to sitter, class: 'btn btn-default pull-right' do %>
      Details
      <% end %>
  </footer>
</article>
