<article class="sitter">
   #if the distance is the closed to the user's location
  
  <header> 
  <%= link_to sitter do %>
    # need to call the sitter with the user_id and use user.avatar to get the avatar 
    # if I am correct, it should be sitter.user.avatar <-- this is not working
    
    <h4> <%= sitter.name %></h4>
  <% end  %>
  </header>
  <p class="description">
    <%= sitter.summary %>
  </p>
  <footer class="actions">
  <h4> <%= sitter.price %>/hr <h4>
  <%= link_to sitter, class: 'btn btn-default pull-right' do %>
    Details
  <% end %>
  </footer>
</article>
<hr class="divider-d">
