
      <div class="main">
        <div class="container">
            <div class="row">
              <div class="sidebar">
                <div class="widget">
                <section class="sitter-index">
                  <h5 class="widget-title font-alt">Sitter Nearby</h5>
                  <ul class="widget-posts">
                  <li> <%= render @sitters %> </li>
                  </ul>
                </div>
                </section>  
              </div>
              <div class="col-sm-8 map-container">
                <div id="map">
                  <%= 
                  map(:center => {
                    :latlng => [49.2827290, -123.1207380],
                    :zoom => 14.5
                    })
                  %>
                </div>
              </div>
            </div>    
        </div>

<script type='text/javascript'>

  if (navigator.geolocation) {
	  navigator.geolocation.getCurrentPosition(function(position){
	  var latitude = position.coords.latitude;
	  var longitude = position.coords.longitude;
	  });

	  map.locate({setView: true, maxZoom: 14.5});
	  function onLocationFound(e) {

		L.marker(e.latlng).addTo(map)
    .bindPopup("You are here").openPopup();
    
    <% @sitters.each do |sitter| %>
    <% @user = User.find_by(id: sitter.user_id) %>
      L.marker([<%=sitter.latitude%>, <%=sitter.longitude%>]).addTo(map)
      .bindPopup("<a href='sitters/<%=sitter.id%>'/> <img src=<%=@user.avatar%> style='width:35px'/> <%=sitter.name%> \n<br/> Address: <%=sitter.address%> \n<br/> Summary: <%=sitter.summary%> ");
    <% end %>
        
	  }
	  map.on('locationfound', onLocationFound);
  }else {
	  alert("Geolocation API is not supported in your browser. :(");
  }
</script>






