<div class="main">
  <div class="container">
    <div class="row-scroll">
        <div class="col-sm-5 col-sm-offset-1 mb-sm-40">
            <h4 class="font-alt">Become A Sitter</h4>
            <hr class="divider-w mb-10">     

            <%= form_for :sitter, url: sitters_path, class: "form" do |form| %>

            <div>
              <% if @sitter.errors.any? %>
                <div class="alert alert-danger" role="alert"> 
                <button class="close" type="button" data-dismiss="alert" aria-hidden="true">x</button>
                <% @sitter.errors.full_messages.each do |error| %>
                    <div>
                    <i class="fa fa-cog fa-spin"></i>
                    <strong>Alert!</strong>
                    <%= error %>
                    </div>
                <% end %>
                </div>
              <% end %>
            </div>

            <div class="form-group">
                <%= form.label :name do %>
                <i class="fa fa-id-badge" aria-hidden="true"></i>
                Name
                <% end %>
                <%= form.text_field :name , :value => "#{@user.first_name} #{@user.last_name}", class: 'form-control' %>
            </div>

            <div class="form-group">
                <%= form.label :address do %>
                <i class="fa fa-address-card-o" aria-hidden="true"></i>
                Address
                <% end %>
                <%= form.text_field :address, class: 'form-control' %>
            </div>

            <div class="form-group">
                <%= form.label :summary do %>
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                Summary
                <% end %>
                <%= form.text_area :summary, class: 'form-control' %>
            </div>

            <div class="form-group">
                <%= form.label :rules do %>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                Rules
                <% end %>
                <%= form.text_area :rules, class: 'form-control' %>
            </div>

            <div class="form-group">
                <%= form.label :price do %>
                <i class="fa fa-usd" aria-hidden="true"></i>
                Price
                <% end %>
                <%= form.text_field :price, class: 'form-control' %>
            </div>

            <div class="form-group">
                <%= form.label :photos do %>
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                Photos (Ctrl/Cmd + Select to choose multiple files)
                <% end %>
                <%= form.file_field :photos, multiple: true, class: 'form-control' %>
            </div>

            <div class="form-group">
                <%= form.submit 'Next', class: 'btn btn-block btn-round btn-b' %>
            </div>
            
            <% end %>
      </div>
    </div>
  </div>
</div>