<div class="main">
    <div class="container">
        <div class="row">
            <div class="sidebar">
            <div class="widget">
                <h5 class="widget-title font-alt"><%= @sitter.name %></h5>
                <ul class="widget-posts">
                <li><%= @sitter.name %></li>
                </ul>
            </div>
            </div>
            <div class="col-sm-8 map-container">
                <div class="post">
                    <div class="post-images-slider">
                      <div class="flex-viewport" style="overflow: hidden; position: relative; height: 431.25px;">
                        <ul class="slides" style="width: 800%; transition-duration: 0s; transform: translate3d(-750px, 0px, 0px);">
                          <li class="clone" aria-hidden="true" style="width: 750px; margin-right: 0px; float: left; display: block;">
                            <img src="https://media.wired.com/photos/598e35fb99d76447c4eb1f28/master/pass/phonepicutres-TA.jpg" alt="Blog Slider Image" draggable="false" style="width: 750px;">
                          </li>
                          <li class="flex-active-slide" data-thumb-alt style="width: 750px; margin-right: 0px; float: left; display: block;">
                            <img src="https://cdn.vox-cdn.com/thumbor/8ncGig_bSSBEQZb2ED0cm47OCzQ=/0x0:5760x3840/1200x800/filters:focal(2680x1608:3600x2528)/cdn.vox-cdn.com/uploads/chorus_image/image/53439011/moonlight_01.0.jpg" alt="Blog Slider Image" draggable="false" style="width: 750px;">
                          </li>
                          <li data-thumb-alt style="width: 750px; margin-right: 0px; float: left; display: block;">
                            <img src="https://media.wired.com/photos/598e35fb99d76447c4eb1f28/master/pass/phonepicutres-TA.jpg" alt="Blog Slider Image" draggable="false" style="width: 750px;">
                          </li>
                          <li class="clone" aria-hidden="true" style="width: 750px; margin-right: 0px; float: left; display: block;">
                            <img src="https://cdn.vox-cdn.com/thumbor/8ncGig_bSSBEQZb2ED0cm47OCzQ=/0x0:5760x3840/1200x800/filters:focal(2680x1608:3600x2528)/cdn.vox-cdn.com/uploads/chorus_image/image/53439011/moonlight_01.0.jpg" alt="Blog Slider Image" draggable="false" style="width: 750px;">
                          </li>
                        </ul>
                        <ol class="flex-control-nav flex-control-paging">
                        <li>
                          <a href="#" class>1</a>
                        </li>
                        <li>
                          <a href="#" class="flex-active">2</a>
                        </li>
                      </ol>
                      <ul class="flex-direction-nav">
                        <li class="flex-nav-prev">
                          <a class="flex-prev" href="#">
                          ::before
                          "previous"
                          </a>
                        </li>
                        <li class="flex-nav-next">
                          <a class="flex-next" href="#">
                          ::before
                          "Next"
                          </a>
                        </li>
                      </ul>
                      </div> 
                    </div>
                </div>
                <div class="post-title">
                  <p><%= @sitter.summary %></p>
                  <p><%= @sitter.rules %></p>
                  <p><%= @sitter.price %></p>
                </div>
            </div>
        </div>    
    </div>
    <hr class="divider-d">
    