<div class="main">
    <div class="container">
        <div class="row">
            <div class="sidebar">
            <div class="widget">
            <section class="sitter-index">
                <h5 class="widget-title font-alt"><%= @sitter.name %></h5>
                <ul class="widget-posts">
                <li><%= @sitter.name %></li>
                </ul>
            <button><%= link_to 'Booking', new_sitter_booking_path(@sitter.id) %></button>
              <script> ReactRailsUJS.mountComponents()</script>
              <div class="DayPicker" lang="en">
              <%= react_component('Availability', {dates: @dates}, {prerender: true}) %>
              </div>
            </div>
            </div>
            </section>
            <div class="col-sm-8 map-container">
                            
                <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="pull-left"><h4>Your picture gallery</h4></div>
                            <button type="button" class="close" data-dismiss="modal" title="Close">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    <div class="modal-body">
                    <!--CAROUSEL CODE GOES HERE-->
                    <div id="myGallery" class="carousel slide" data-interval="false">
                    <div class="carousel-inner">

                        <div class="item active">
                        <%= image_tag("dog1.jpg",
                                        alt: "Image description here",
                                        class: "img-responsive") %>
                            <div class="carousel-caption">
                            <h3>Caption 1 here</h3>
                            <p>Caption 1 description here</p>
                            </div>
                        </div>
                        <div class="item">
                        <%= image_tag("dog1.jpg",
                                        alt: "Image description here",
                                        class: "img-respponsive") %>
                            <div class="carousel-caption">
                            <h3>Caption 2 here</h3>
                                <p>Caption 2 description here</p>
                            </div>
                        </div>
                        <div class="item">
                        <%= image_tag("dog1.jpg",
                                        alt: "Image description here",
                                        class: "img-respponsive") %>
                            <div class="carousel-caption">
                            <h3>Caption 3 here</h3>
                                <p>Caption 3 description here</p>
                            </div>
                        </div>
                        <div class="item">
                        <%= image_tag("dog1.jpg",
                                        alt: "Image description here",
                                        class: "img-respponsive") %>
                            <div class="carousel-caption">
                            <h3>Caption 4 here</h3>
                                <p>Caption 4 description here</p>
                            </div>
                        </div>

                    </div><!--end carousel-inner-->
                        <!-- Previous and Next buttons-->
                        <a class="left carousel-control" href="#myGallery" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control"
                        href="#myGallery" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div><!-- myGallery-->

                    </div><!-- modal-body-->
                        <div class="modal-footer">
                        <div class="pull-left">
                        </div>
                        <button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
                    </div><!-- modal-footer-->
                    </div><!-- modal-content-->
                </div><!-- modal-dialoge-->
                </div><!-- myModal-->


                <div class="post-title">
                  <p><%= @sitter.summary %></p>
                  <p><%= @sitter.rules %></p>
                  <p><%= @sitter.price %></p>
                </div>
            </div>
        </div>    
    </div>
    <hr class="divider-d">
    