<div class="main">
    <div class="container">
        <div class="row">
            <div class="sidebar">
            <div class="widget">
            <section class="sitter-index">
                <h5 class="widget-title font-alt"><%= @sitter.name %></h5>
                <ul class="widget-posts">
                <li><%= @sitter.name %></li>
                </ul>
            <%= react_component('Availability', {dates: @dates}) %>
            <button><%= link_to 'Booking', new_sitter_booking_path(@sitter.id) %></button>
            </div>
            </div>
            </section>
            <div class="col-sm-8 map-container">
              <div class="post-title">
                
              </div>
                <div class="post-title">
                  <p><%= @sitter.summary %></p>
                  <p><%= @sitter.rules %></p>
                  <p><%= @sitter.price %></p>
                </div>
            </div>
        </div>    
    </div>
    <hr class="divider-d">
    