<div class="main">
  <div class="container">
    <div class="row-scroll">
    	<div class="col-sm-5 col-sm-offset-1 mb-sm-40">
        <h4 class="font-alt">Photos Upload</h4>
        <hr class="divider-w mb-10">
        <%= render 'form' %>
        <%= render 'form' %>
        <%= render 'form' %>
        <%= render 'form' %>
        <%= render 'form' %>
        <%= link_to '<button class="btn btn-block btn-round btn-b" type="button">Submit</button>'.html_safe, sitter_path(params[:sitter_id]) %>
      </div>
    </div>
  </div>
</div>